@tailwind base;
@tailwind components;
@tailwind utilities;
:is(.dark .react-datepicker__day--in-range), :is(.dark .react-datepicker__day--in-selecting-range) {
    background-color: rgba(106, 94, 56, 0.51);
  }
  :is(.dark .react-datepicker__day span:hover) {
    background-color: rgba(234, 179, 8, 0.51);
  }
  .react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range {
    background-color: rgba(255, 236, 177, 0.51);
  }
  .react-datepicker__day span:hover {
    background-color: rgba(234, 179, 8, 0.51);
  }
  
  :is(.dark .addListingDatePickerExclude .react-datepicker__day--disabled) {
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.addListingDatePickerExclude .react-datepicker__day--disabled) {
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.addListingDatePickerExclude .react-datepicker__day--disabled)::after {
    border-color: rgba(234, 178, 8, 0.288) !important;
  }
  :is(.dark .react-datepicker__day span:hover) {
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.react-datepicker__day span:hover) {
    background-color: rgba(234, 179, 8, 0.11) !important;
  }

  :is(.dark .react-datepicker__day--in-range), :is(.dark .react-datepicker__day--in-selecting-range) {
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.dark .dark\:hover\:bg-gray-700:hover) {
    --tw-bg-opacity: 1;
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.dark .dark\:bg-gray-700) {
    --tw-bg-opacity: 1;
    background-color: rgba(234, 179, 8, 0.11) !important;
  }
  :is(.dark .dark\:bg-slate-700) {
    --tw-bg-opacity: 1;
    background-color: rgba(234, 179, 8, 0.11) !important;
  }

  /* Global style */
::selection {
  background-color: #f4bf49;
  color: #ffffff; 
}

/* For specific elements, e.g., paragraphs */
p::selection {
  background-color: #f4bf49;
  color: #ffffff;
}

.color-yellow-accent{
  color: rgba(202, 138, 4) !important;
}

.color-white-accent{
  color: rgb(255, 255, 255) !important;
}

.bg-primary-custom {
  --tw-bg-opacity: 1;
  color: rgba(202, 138, 4, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-primary-custom-2 {
  --tw-bg-opacity: 1;
  color: rgba(255, 255, 255);
  background-color: rgba(202, 138, 4, var(--tw-bg-opacity));
}

.bg-primary-custom-3 {
  --tw-bg-opacity: 1;
  color: rgba(255, 255, 255);
  background-color: rgba(234, 178, 8, 0.445);
}

.dark .bg-primary-custom {
  color: rgba(255, 255, 255, 1);
}


.color-yellow-background{
  background-color: rgba(234, 179, 8, 0.11) !important;
}



.bg-neutral-100 {
  background-color: rgba(234, 179, 8, 0.11);
}

.bg-neutral-nav {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--c-neutral-100), var(--tw-bg-opacity));
}

:is(.dark .addListingDatePickerExclude .react-datepicker__day--disabled)::after {
  --tw-border-opacity: 1;
  border-color: rgba(234, 179, 8, 0.11) !important;
}

.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range {
  border-radius: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 179, 8, 0.11) !important;
}

:is(.dark .dark\:border-slate-700) {
  --tw-border-opacity: 1;
  border-color: rgb(89, 89, 89)!important;
}

.rc-slider-track, .rc-slider-tracks {
  background-color: #eab308!important;
}

.rc-slider-handle {
  border: solid 2px #eab308!important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #eab308!important;
  box-shadow: 0 0 0 5px #eab308!important;
}

.custom-dark-color{
  --tw-bg-opacity: 1;
  color: #eab308!important;
  background-color: #eab308!important;
}
